<div class="tunerTitle col-lg-12">
  <h1>Select Keys to hear outputs</h1>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-default">
        <h4 class="topPanel panel-heading"><span>Select Single Notes</span></h4>
        <div class="panel-body">
          <button id="playKey" class ="btn btn-blue">Play</button>
          <button id="stopKey" class ="btn btn-danger">Stop</button>

          <select name="mySelect" id="selectedKey">
            <option value="233.082">A#</option>
            <option value="246.942">B</option>
            <option value="261.626">C</option>
            <option value="277.183">C#</option>
            <option value="293.665">D</option>
            <option value="311.127">D#</option>
            <option value="329.628">E</option>
            <option value="349.228">F</option>
            <option value="369.994">F#</option>
            <option value="391.995">G</option>
            <option value="415.305">G#</option>
            <option value="440.000">A</option>
          </select>


        </div>
      </div>

      <div class="panel panel-default">
        <h4 class="topPanel panel-heading"><span>Input any Note</span></h4>
        <div class="panel-body">
          <span>
            <h4 class="sameLine">Key</h4>
            <input id="inputKey" type="text" name="Please enter key" placeholder=" C, C#, A..." value="">
          </span>
          <span>
            <h4 class="sameLine sameLineOctave">Octave</h4>
            <!-- <input id="octave" type="text" name="Please enter key" placeholder="1...7" value=""> -->
            <select id="selectedOctave">
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
              <option value=7>7</option>
              <option value=8>8</option>
            </select>
          </span>

            <span class="inline">
              <h4>Scale Type</h4>
              <!-- <input id="octave" type="text" name="Please enter key" placeholder="1...7" value=""> -->
              <select id="scaleType">
                <option value="major">major</option>
                <option>minor</option>
                <option>harmonicminor</option>
                <option>melodicminor</option>
                <option>ionian</option>
                <option>dorian</option>
                <option>phrygian</option>
                <option>lydian</option>
                <option>mixolydian</option>
                <option>locrian</option>
                <option>chromatic</option>
                <option>aeolian</option>
              </select>
            </span>
          <!-- <input id="inputKeyButton" type="Play" name="submit" value="submit"> -->
          <h4>Scale: <span id="scaleOutput"></span></h4>
          <button id="playTriad" class ="btn btn-blue" value="submit">Play Triad</button>
          <button id="playScale" class ="btn btn-blue" value="submit">Play Scale</button>
        </div>
      </div>



            <div class="panel panel-default">
              <h4 class="topPanel panel-heading"><span>Find a Complementary Harmony</span></h4>
              <div class="panel-body">
                <span>
                  <h4 class="sameLine">Root Note: </h4>
                  <span class="rootNote"></span>
                </span>
                <span>
                  <h4 class="sameLine sameLineOctave">Octave</h4>
                  <!-- <input id="octave" type="text" name="Please enter key" placeholder="1...7" value=""> -->
                  <select id="selectedOctave">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                  </select>
                </span>

                  <span class="inline">
                    <h4>Triad Type</h4>
                    <!-- <input id="octave" type="text" name="Please enter key" placeholder="1...7" value=""> -->
                    <select id="scaleType">
                      <option value="major">major</option>
                      <option>minor</option>
                      <option>harmonicminor</option>
                      <option>melodicminor</option>
                      <option>ionian</option>
                      <option>dorian</option>
                      <option>phrygian</option>
                      <option>lydian</option>
                      <option>mixolydian</option>
                      <option>locrian</option>
                      <option>chromatic</option>
                      <option>aeolian</option>
                    </select>
                  </span>
                <p></p>
                <button id="playCompTriad" class ="btn btn-blue" value="submit">Play Complementarty Triad</button>
              </div>
            </div>



    </div>
  </div>

  <div class="col-lg-8">
    <div class="bs-component">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Press the Keys to hear different pitches</h2>
        </div>
        <div class="panel-body">
          <div id="saved-output">
            <div class="piano">
              <div id="c3" class="whiteKeys"><p>C</p>
                <div id="c#3" class="blackKeys"><p>C#</p></div>
              </div>
              <div id="d3" class="whiteKeys"><p>D</p>
                <div id="d#3" class="blackKeys"><p>D#</p></div>
              </div>
              <div id="e3" class="whiteKeys"><p>E</p>
              </div>
              <div id="e#3">
                <div id="f3" class="whiteKeys"><p>F</p>
                  <div id="f#3" class="blackKeys"><p>F#</p></div>
                </div>
              </div>
              <div id="g3" class="whiteKeys"><p>G</p>
                <div id="g#3" class="blackKeys"><p>G#</p></div>
              </div>
              <div id="a3" class="whiteKeys"><p>A</p>
                <div id="a#3" class="blackKeys"><p>A#</p></div>
              </div>
              <div id="b3" class="whiteKeys"><p>B</p>
              </div>
              <div id="c4" class="whiteKeys"><p>C</p>
                <div id="c#4" class="blackKeys"><p>C#</p></div>
              </div>
              <div id="d4" class="whiteKeys"><p>D</p>
                <div id="d#4" class="blackKeys"><p>D#</p></div>
              </div>
              <div id="e4" class="whiteKeys"><p>E</p>
              </div>
              <div id="f4" class="whiteKeys"><p>F</p>
                <div id="f#4" class="blackKeys"><p>F#</p></div>
              </div>
              <div id="g4" class="whiteKeys"><p>G</p>
                <div id="g#4" class="blackKeys"><p>G#</p></div>
              </div>
              <div id="a5" class="whiteKeys"><p>A</p>
                <div id="a#5" class="blackKeys"><p>A#</p></div>
              </div>
              <div id="b5" class="whiteKeys"><p>B</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">User Two</h3>
        </div>
        <div class="panel-body">
          <div id="saved-output">
            <div class="graphicOutput">
              <div class="piano">
                <div id="user2-2c3" class="whiteKeys"><p>C</p>
                  <div id="user2-2c#3" class="blackKeys"><p>C#</p></div>
                </div>
                <div id="user2-d3" class="whiteKeys"><p>D</p>
                  <div id="d#3" class="blackKeys"><p>D#</p></div>
                </div>
                <div id="user2-e3" class="whiteKeys"><p>E</p>
                </div>
                <div id="user2-f3" class="whiteKeys"><p>F</p>
                  <div id="user2-f#3" class="blackKeys"><p>F#</p></div>
                </div>
                <div id="user2-g3" class="whiteKeys"><p>G</p>
                  <div id="user2-g#3" class="blackKeys"><p>G#</p></div>
                </div>
                <div id="user2-a4" class="whiteKeys"><p>A</p>
                  <div id="user2-a#4" class="blackKeys"><p>A#</p></div>
                </div>
                <div id="user2-b4" class="whiteKeys"><p>B</p>
                </div>
                <div id="user2-c4" class="whiteKeys"><p>C</p>
                  <div id="user2-c#4" class="blackKeys"><p>C#</p></div>
                </div>
                <div id="user2-d4" class="whiteKeys"><p>D</p>
                  <div id="user2-d#4" class="blackKeys"><p>D#</p></div>
                </div>
                <div id="user2-e4" class="whiteKeys"><p>E</p>
                </div>
                <div id="user2-f4" class="whiteKeys"><p>F</p>
                  <div id="user2-f#4" class="blackKeys"><p>F#</p></div>
                </div>
                <div id="user2-g4" class="whiteKeys"><p>G</p>
                  <div id="user2-g#4" class="blackKeys"><p>G#</p></div>
                </div>
                <div id="user2-a5" class="whiteKeys"><p>A</p>
                  <div id="user2-a#5" class="blackKeys"><p>A#</p></div>
                </div>
                <div id="user2-b5" class="whiteKeys"><p>B</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
