

<div class="jumbotron">
  <!-- <div class="row">
    <div class="col-lg-6">
      <h1>HarmoniUS</h1>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <a href="/">
        <img src="/assets/soundwave.jpg" style="width: 100%; height: 180px;" alt="/harmonius">
      </a>
        <div class="caption welcomeCaption">
          <p><b><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> Play</b> any sound and learn what keys you have played</p>
        </div>
    </div>

    <div class="col-sm-4 col-md-4">
      <a href="/triads">
        <img src="/assets/keyboard2.jpg" style="width: 100%; height: 180px;" alt="/harmonius_keyboard">
      </a>
        <div class="caption welcomeCaption">
          <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><b> Learn</b> different scales can chords that can be played</p>
        </div>
    </div>

    <div class="col-sm-4 col-md-4">
      <!-- <div class="thumbnail"> -->
        <a href="/music_maker">
          <img src="/assets/guitar.jpg" style="width: 100%; height: 180px;" alt="/harmonius_music_maker">
        </a>
        <div class="caption welcomeCaption">
          <p><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><b> Create</b> Harmonic Music using what you've learned</p>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="row">
   <div class="col-lg-4">
     <div class="bs-component">
       <div class="panel panel-default">
         <h4 class="topPanel panel-heading">Try Sample Input</h4>
         <div class="panel-body">
           <button id="playSample" class="btn btn-success">Sample Piano (C)</button>
           <button id="playOscillator" class="btn btn-warning">Sample Oscillator (A)</button>
           <span class="inline">
             <h4>Rate of Output</h4>
             <select id="rateOfOutput">
               <option value="125">125 Milliseconds</option>
               <option value="250">250 Milliseconds </option>
               <option selected="selected" value="500">500 Milliseconds</option>
               <option value="1000">1 Second</option>
               <option value="1250">1.25 Seconds</option>
               <option value="1500">1.5 Seconds</option>
               <option value="2500">2 Seconds</option>
               <option value="3000">3 Seconds</option>
               <option value="4000">4 Seconds</option>
               <option value="5000">5 seconds</option>
             </select>
           </span>
           <!-- <button onclick="updatePitch(0);">sample</button> -->
         </div>
       </div>

       <div class="panel panel-default">
         <div class="topPanel panel-heading">
           <div class="pitch"><span id="pitch"></span><b>Hz</b></div>
         </div>
         <div class="panel-body">
           <div id="detector" class="vague">
             <div class="note"><span id="note">--</span></div>
             <canvas id="output" width=300 height=42></canvas>
             <div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span></div>
           </div>
         </div>
       </div>

       <div class="panel panel-default">
         <div class="topPanel panel-heading">
           <b>Waveform<b>
         </div>
         <div class="panel-body">
           <canvas id="waveform" style="display:inline;" margin="0" auto width="320" height="240"></canvas>
         </div>
       </div>
     </div>
   </div>

      <div class="col-lg-4">
       <div class="panel panel-default">
         <div class="panel-heading">
           <button id="playLiveInput" class="btn btn-danger">Start / Stop: User 1 Live Input</button>
           <!-- <h3 class="panel-title">User 1 played notes:</h3> -->
         </div>
         <div class="panel-body">
           <div id="recordedNotes">
           </div>
         </div>
       </div>
      </div>

      <div class="col-lg-4">
       <div class="panel panel-default">
         <div class="panel-heading">
           <button id="playLiveInput2" class="btn btn-danger">Start / Stop: User 2 Live Input</button>
         </div>
         <div class="panel-body">
           <div id="matchingNotes"></div>
         </div>
       </div>
     </div>

</div> <!--end row-->
