
.whiteKeys {
  width: 50px;
  height: 230px;
  border: 0.5px solid grey;
  float: left;
  position: relative;
  border-radius: 0 0 3px 3px;
}

.whiteKeys:hover {
  background-color: rgb(171, 200, 213);
  box-shadow: 0px 5px 1px rgba(32,32,32,0.2);
		-webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease;
}

.whiteKeys {
  cursor:pointer;
  box-shadow: 0px 5px 1px rgba(32,32,32,0.2);
  -webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease;
}

.whiteKeys:active {
  display: block;
  height: 235px;
  box-shadow: none;
  box-shadow: inset 0 0 1.5em rgba(124, 124, 124, 0.8);
  -webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease;
}

.blackKeys{
  width: 40px;
  height: 150px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 32px;
  z-index: 1;
  border-radius: 0 0 6px 6px;
}

.blackKeys:hover {
  background-color: rgb(5, 7, 43);
}

.whiteKeys>p {
  color: black;
  text-align: center;
  margin-top: 180px;
  bottom: 10px;
  font-weight: bold;
}

.blackKeys p {
  color: white;
  bottom: 10px;
  margin-top: 120px;
  text-align: center;
  }




.white-buttons {
  width: 100%;
  height: 200px;
  padding-bottom: 50px;
  overflow: hidden;
  position: absolute;
  top: 0;
}
input {
  display: none;
}
label {
  height: 200px;
  width: 50px;
  display: inline-block;
  margin: 0 0 50px 2px;
  background: #fafafa;
  border-top: none;
  transition: all .3s linear;
  margin-top: -1px;
  transform: scale(1);
  position: relative;
  z-index: 10;
  border-radius: 2px;
}
.white-buttons label:after {
  content: '';
  position: absolute;
  background: #eee;
  width: 100%;
  height: 10px;
  transform: rotateX(45deg) rotateZ(5deg) rotateY(-5deg);
  bottom: 0;
  transition: height .3s linear;
}
input:checked + label {
  transform: scale(0.99, 1.05);
  z-index: 1;
}
input:checked + label:after {
  height: 1px;
}
input:checked + label + input + label {
  box-shadow: 0px -10px 20px 4px #ddd
}
input + label {
  box-shadow: 10px 0 20px -10px #ccc;
}
.black-buttons {
  position: relative;
  width: 364px;
  display: inline-block;
  height: 200px;
  padding-bottom: 20px;
}
input.black + label {
  position: absolute;
  background: #000;
  width: 30px;
  height: 120px;
  z-index: 20;
  box-shadow: 5px -5px 20px 0px #aaa;
  transition: all .3s linear;
}
input.black:checked + label {
  box-shadow: 0 0 5px 2px #aaa;
  transform: scale(0.95, 1.05);
}
input.black:nth-child(1) + label {
  left: 37px;
}
input.black:nth-child(3) + label {
  left: 88px;
}
input.black:nth-child(5) + label {
  left: 192px;
}
input.black:nth-child(7) + label {
  left: 245px;
}
input.black:nth-child(9) + label {
  left: 296px;
}
