#recordedNotes, #matchingNotes {
  font-size: 2em;
  line-height: 1.5;
  max-height: 600px;
  height: 600px;
  overflow-y: scroll;

}

.note {
  margin-left: 35%;
  font-size: 8em;
  font-weight: bold;
}

.appendedTriads {
  padding: 5px;
  margin: 5px;
  border: 1px solid red;
  max-width: 180px;
  text-align: center;
}
