.tunerTitle {
  margin-bottom: 40px;
}

#selectedKey, #selectedOctave, #scaleType{
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  border: 1px solid #888888;
  height: 35px;
  width: 50px;
}

#scaleType {
  display: block;
  margin-top: 10px;
  width: 150px;
}

#selectedOctave{
width: 50px;
}


#inputKey{
  width: 80px;
  display: inline;
}

h5.keyInputs{
  display: inline;
}

.sameLine:last-of-type{
  display: inline;
  margin-right: 20px;
}

#playTriad, #playScale {
  display: inline-block;
  margin-top: 15px;
}

#playCompTriad{
  margin-top: 15px;
  // margin-left: -105px;

}

.inline h4{
  float: left;
  margin-top: 18px;
  margin-right: 20px;
}

.sameLineOctave {
  margin-left: 20px;
}

.btn-blue {
    color: #fff;
    background-color: #4288A7;
    border-color: #9AB2BD;
}

.btn.btn-blue:hover {
  background-color: #2A596D;
  color: white;
}

.rootNote {
  font-weight: bold;
  font-size: 1.5em;
}
